@import 'globals/lesshat.less';
@import 'globals/variables.less';
@import 'globals/mixins.less';
@import 'globals/reset.less';
@import 'font-awesome/less/font-awesome.less';

@fa-font-path: '/bower_components/font-awesome/fonts';

.visible-desktop {
    display: none;
    @media screen and (min-width: 960px) {
        display: inline-block;
    }
}

.visible-tablet {
    display: none;
    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

.visible-mobile {
    display: inline-block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

/**
 * App-wide Styles
 */
html {
    font-family: @font-family;
    background-color: @page-background;
    color: #555;
    color: rgba(0, 0, 0, 0.65);
    font-size: 60%;

    @media screen and (min-width: 960px) {
        display: inline-block;
        font-size: 62.5%;
    }
}

input {
    font-family: @font-family;
}

a {
    color: @link-colour;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.view {
    .font-size(1.5);
    margin: 0 auto;
    line-height: 1.4;
    padding: 5px;
    @media screen and (min-width: 768px) {
        max-width: 730px;
        padding: 0;
    }

    @media screen and (min-width: 960px) {
        max-width: 930px;
    }
}

.errors {
    text-align: left;
    span {
        color: red;
        display: block;

    }
}

input.ng-invalid, input.ng-invalid:focus {
    outline: none;
    border: 2px solid #ff7575;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// injector
@import 'main/main.less';
// endinjector