<section class="login-section">
    <h1>Lorem ipsum.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, vitae.</p>

    <form class="form login-form" novalidate id="loginform" name="loginform" ng-submit="vm.login(loginform)">
        {{loginform.email.$error}}
        <h2>Login</h2>
        <fieldset>
            <input type="email" id="email" name="email" placeholder="Email" ng-required ng-model="vm.user.email"/>
            <input type="password" id="password" name="password" placeholder="Password" ng-required ng-model="vm.user.password"/>
            <input type="submit" class="button"/>
        </fieldset>
    </form>

</section>