<section class="login-section">
    <h1>Lorem ipsum.</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, vitae.</p>

    <form class="form login-form" novalidate id="loginform" name="loginform" ng-submit="vm.login()">
        <div class="errors">
            <span ng-if="vm.isFormSubmitted && (loginform.email.$error.required || loginform.password.$error.required)">Please enter an email address and a password.</span>
            <span ng-if="vm.isFormSubmitted && loginform.email.$error.email">Please enter a valid email address.</span>
        </div>
        <h2>Login</h2>
        <fieldset>
            <input type="email" id="email" name="email" placeholder="Email" required ng-model="vm.user.email"/>
            <input type="password" id="password" name="password" placeholder="Password" required ng-model="vm.user.password"/>
            <input type="submit" class="button"/>
        </fieldset>
    </form>

</section>